<div class="container2">
  <div class="restaurant-container2">
  <div class="label-container2">
    <h2>Top restaurant chains in <span class="">Morelia</span></h2>
    <button class="restaurant-arrow-left"><i class="bi bi-arrow-left"></i></button>
    <button class="restaurant-arrow-right"><i class="bi bi-arrow-right"></i></button>
  </div>
  <div class="card-slider">
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/be4h2xc9cqcugdjydotn" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/egm3aym4fa73hst2tv9b" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/pe1savupw5miak1g0ylt" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/x0k7gslikn5j5y4yvh49" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/o9vbz7tdbkav0gzdv4yk" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
    <div class="restaurant-card">
        <div class="image-container2">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/d96267738c19ec62acb5390e52faba41" alt="">
            <div class="discount-badge">20% OFF UPTO ₹50</div>
        </div>
        <h3 class="restaurant-name">Restaurant Name</h3>
        <div class="info-container2">
            <div class="info-row">
                <div class="rating">
                    <span class="rating-star"><i class="bi bi-star-fill star"></i></span>
                    <span class="review-count">(4.6)</span>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-dot"></i> 15-20 mins
                </div>
            </div>
            <p>Short description</p>
            <p>India</p>
        </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <ol>
    <%= render @restaurants %>
  </ol>

  <%= link_to "Add a Restaurant", new_restaurant_path(@restaurant) %>

</div>
