<div class="container mt-4">
  <%= render "restaurant", restaurant: @restaurant %>

  <%= link_to "Go Back", restaurants_path %>
  <%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>
</div>
